html body {
    height: 100%;
}

html body div.row {
    height: 100%;
    width: 100%;
}

html body div.row div.col-2#infobar {
    min-height: 100vh;
    min-width: 280px;
    max-width: 300px;
    background-color: navy;
    color: floralwhite;
    padding: 20px 20px 20px 30px;
}

html body div.row div.col#main_content {
    min-height: 100vh;
    padding-top: 75px;
    right: 0%;
    padding-left: 40px;
    padding-right: 40px;
}

html body div.row div.col-2 h2 {
    text-align: center;
    padding-bottom: 15px;
}

html body div.row div.col-2 p {
    margin: 0 0 0 0;
}

html body div.row div.col div.section h3 {
    color: navy;
}

html body div.row div.col div.section {
    margin-bottom: 20px;
}

html body div.row div.col div.section div.container-fluid {
    margin-top: 20px;
}

html body div.row div.col div.section div.content {
    margin-bottom: 20px;
}

div.content {
    margin-bottom: 10%;
}

div.info {
    margin: 0 0 10px 0;
}

div.lang_level {
    margin-bottom: 2%;
}

div.progress-bar.bg-light {
    color: navy;
}